<footer>
  <hr>
  <p>Автор: Александр Мартьянов <br>
    Проект:
    <%= github_url('maker325', 'test_guru') %>
    <br>
    Создание и прохождение тестов
    <br>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica',
                'http://thinknetica.com/', :target => '_blank' %>
    <br>
    <%= current_year %>
  </p>
</footer>
