<h1>Список тестов</h1>

<p>
  <%= link_to 'New test', new_test_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Category</th>
    <th>Number of<br>questions</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render @tests %>


</table>
